
 @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

 * {
   margin: 0;
   padding: 0;
}
body{
   height: 100%;
   background: rgba(239, 247, 239)
}
#root{
   height: 100vh;
   background: rgba(239, 247, 239);
}
/* Vista Login */
.mainLogin{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.fondoLogo{ 
   display: flex;
   flex-direction: column;
   /* background: rgba(148, 195, 103, 0.52); */
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   height: 40%;
}
.imagen{
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    width: 105px;
    height: 110px;
}
.saludo{
    font-weight: normal;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #1b552c;
    margin: 0 10px 20px 10px;
}

.fondoIniciar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(239, 247, 239);
    height: 60%;
}
.parrafoInicio{
    text-align: center; 
    font-weight: bold; 
    font-family: Tahoma, sans-serif;
    font-size: 19px;
    color: #043d14;
    margin: 25px 5px;

}

.inputMailLogin {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-style: italic;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 4px;
    width: 70%;
    line-height: 32px;
    align-self: center;
    margin-bottom: 10px;
}

.inputPasswordLogin {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-style: italic;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 4px;
    width: 70%;
    line-height: 32px;
    align-self: center;
    
}

.btnIniciar {
    background: rgba(73, 146, 79, 0.88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #FFF;
    border: 0px;
    width: 150px;
    line-height: 32px;
    margin-top: 30px;
    cursor:pointer;
}
.parrafoGoogle{
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    margin: 5px;
    color: #FE8358;
    font-weight: bold;
}
.googleBoton{
    background: url('img/logoGoogle.png');
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.divRegistro{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}
.parrafoRegistro{
    margin-right: 8px;
}
.parrafoRegistroAqui{
    color: #FE8358;
    cursor: pointer;
}
/* Vista Registro */
.mainRegistro{
    display: flex;
    flex-direction: column;
    height: 100%;
}
    
.fondoLogoRegistro{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: rgba(239, 247, 239);
}

.itemImagen{
    width: 105px;
    height: 110px;
}
.tituloRegistro{
    font-weight: normal;
    font-family: Tahoma, sans-serif;
    font-size: 19px;
    line-height: 3.0;
    text-align: center;
    color: #1b552c;
    letter-spacing: 3px;
}

.fondoRegistrarse{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 70%;
    font-family: Tahoma, sans-serif; 
    font-weight: normal;
    color: #1b552c;
    font-size: 18px;
    line-height: 2.5;
    background: rgba(239, 247, 239);
}

.textoNombre{
    clear: both;
    font-family: Tahoma, sans-serif;
    font-size: 22px;
    color: #043d14;
    
}
.btnRegistro{
    background: rgba(73, 146, 79, 0.88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #FFF;
    border: 0px;
    width: 150px;
    line-height: 32px;
    margin-top: 30px;
    cursor:pointer;
}
.inputNombre{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-style: italic;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 4px;
    width: 70%;
    line-height: 32px;
    align-self: center;
}
.inputCorreoRegistro{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-style: italic;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 4px;
    width: 70%;
    line-height: 32px;
    align-self: center;
}
.selectDieta{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #CCC;
    border-radius: 4px;
    width: 70%;
    height: 35px;
    align-self: center;
    color: #565550;
    font-style: italic;
}
.inputPasswordRegistro {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-style: italic;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 4px;
    width: 70%;
    line-height: 32px;
    align-self: center;
    
}
/* Vista Profile */
.mainProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #EFF7EF;
}
.mainDatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C0DCA8;
    width: 90%;
    border-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}
.imgPerfil{
    width: 100px;
    height: 100px;
}
.divNombre{
    background: #01260C;
    width: 90%;
    height: 100px;
    border-radius: 5px;
    margin: 5px 0;
}
.divIntereses{
    background: #01260C;
    width: 90%;
    height: 100px;
    border-radius: 5px;
    margin: 10px 0;
}
.btnAtras{
    background: rgba(73, 146, 79, 0.88);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #FFF;
    width: 150px;
    height: 32px;
    border: 0px;
    margin-top: 30px;
    cursor:pointer;
}
/* Vista Wall */

.mainWall{
   display: flex;
   flex-direction: column;
   height: 100%;
}
    
.fondoLogoWall{ 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 12%;
    justify-content: flex-start;
    align-content: center;

}

.imgLogoWall{
    width: 25%;
    margin: 5%;
}

.tituloMuro{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 50px;
    align-self: center;
    color: #1b552c;
    letter-spacing: 3px;
    margin: 2%;
}

.fondoMuro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   margin: auto;
   height: auto;
   width: 100%;
   font-family: Tahoma, sans-serif; 
   color: #1b552c;
}
/*frame verde oscuro*/
.frameFondoPostear{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #52734D;
   width: 90%;
   border-radius: 10px;
   margin: 1% auto;
}
/*frame blanco*/
.postear{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   width: 90%;
   border-radius: 10px;
   margin: 1.5%;
}
.postearImg{
   display: none;
   width: 100%;
   border-radius: 10px;
}

.inputPostear{
   background: #FFFFFF;
   width: 98%;
   height: 50px;
   border-radius: 10px;
   border: rgba(255, 255, 255);
   font-size: 16px;
   text-align: center;
   margin: 1% 0;
   padding: 5px;
  
}

.btnPostear{
   background: rgba(151, 195, 103);
   align-self: flex-end;
   color:  rgba(1, 38, 12);
   height: 24px;
   width:40%;  
   border-radius: 20px;
   border: none;
   font-family: 'Reem Kufi', sans-serif;
   margin: 1%;
}
.NavDesktop{
   display: none;
}

.divBtnNavengacion{
   display: flex;
   align-self: flex-end;
   justify-content: space-around;
   background-color:  rgba(1, 38, 12);
   width: 100%;
   padding: 8px;
   height: 5%;
}

.imgUsuario{
    height: 32px;
    width: 34px;
    border-radius: 100%;
    border: none;
    background-image: url('img/imgUsuario.png');
    background-repeat: no-repeat;
    cursor:pointer;

}
.imgCerrar{
   width: 48px;
   height: 32px;
   border: none;
   background-image: url('img/imgCerrar.png');
   cursor: pointer;
}
.postContainer{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   height: auto;
   width: 100%;
   margin-top: 8px;
}
.container-post{
   width: 90%;
   background-color: #52734D;
   color: whitesmoke;
   font-family: "Roboto Mono";
   font-size: 14px;
   margin: 5px;
   padding: 5px;
   border-radius: 5px;
}
.container-receta{
   background: rgba(239, 247, 239);
   color: black;
   height: auto;
   text-align: center;
   border-radius: 5px;
}

.btn-container{
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   width: 90%;
}
.btn-editar{
   background: rgba(151, 195, 103);
   color:  rgba(1, 38, 12);
   height: 24px;
   width: 25%;  
   border-radius: 20px;
   border: none;
   font-family: 'Reem Kufi', sans-serif;
   margin: 1%;
   cursor: pointer;
}
.btn-borrar{
   background-image: url('img/imgDeleteComment.png');
   background-repeat: no-repeat;
   align-self: flex-end;
   width: 25px;
   height: 24px;
   border: none;
   cursor: pointer;
 
}
.container-like{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.btn-like{
   margin: 2px;
   border: none;
   background: none;
   width: 20px;
   height: 19px;
}


