/* Tablet */
@media (min-width: 768px){
.mainLogin{
    height: 100%;
}
.fondoLogo{
    height: 45%;
    border-radius: 8px;
}
.imagen{
    width: 230px;
    height: 220px;
    margin-top: 0;

}
.fondoIniciar{
    height: 55%;
}
.saludo{
    font-size: 24px;
}
.parrafoInicio{
    font-size: 26px;
}
.divRegistro{
    font-size: 18px;
    margin-top: 80px;
}
.btnIniciar {
    width: 200px;
    font-size: 16px;
    margin-top: 40px;
}
}



/* Desktop */
@media (min-width: 1025px) {
#root{
    display:flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    background: #FCFCFB;
}
.mainLogin {
    display: flex;
    flex-direction: row;
    width: 60%;
    
}
.fondoLogo{
  width: 50%;
  height: 600px;
  border: 1px solid #8BA889;
  border-radius: 10px;
}
.imagen{
    width: 230px;
    height: 220px;
    margin-top: 0;

}
.saludo{
    font-size: 22px;
}
.fondoIniciar{
    width: 50%;
    height: 600px;
    border: 1px solid #8BA889;
    border-radius: 10px;
}
.parrafoInicio{
    font-size: 22px;
    margin-top: 80px;
}
.divRegistro{
    margin-top: 60px;
}

}